.container {
  max-width: 1200px;
  margin: 4rem auto;
}

.title {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: var(--dim-white);
}

.content {
  margin-left: 2rem;
  padding: 0.5rem 0;
  color: var(--dim-white);
}
